@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Dela Gothic One", "Lexend", Arial, sans-serif; }

#container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
  background: linear-gradient(45deg, #22c1c3 0%, #fdbb2d 25%, #fd872d 50%, #fd5a63 75%, #fd2df2 100%);
  background-size: 400%;
  animation: tide 25s ease-in-out infinite; }

#wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 80vw; }

#output {
  font-size: 50pt;
  letter-spacing: 5px;
  text-align: center; }

#newQuestion {
  font-family: "lexend", Arial, sans-serif;
  font-size: 25pt;
  text-align: center;
  text-decoration: none;
  border: none;
  color: white;
  background-color: transparent; }

#githubLink {
  z-index: 1;
  position: absolute;
  padding: 1%; }

@keyframes tide {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }
