@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10pt;
    font-family: "Dela Gothic One", "Lexend", Arial, sans-serif;
}

h1 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 75pt;
    letter-spacing: 5px;
}

#NewQuestion {
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: "lexend", Arial, sans-serif;
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25pt;
}

#Container {
    height: 100vh;
    width: 100%;
    color: #fff;
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 25%, rgba(253,135,45,1) 50%, rgba(253,90,99,1) 75%, rgba(253,45,242,1) 100%);
    background-size: 400%;
    animation: tide 25s ease-in-out infinite;
}

#Github {
    padding: 10px;
}

@keyframes tide {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}